<a href="https://colab.research.google.com/github/rikku10/foundation-of-data-science/blob/main/Introduction_to_Pandas_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
weather_data = {
'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
'temperature':[32,35,28,24,32,31],
'windspeed': [6,7,2,7,4,2],
'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

display data

In [ ]:
df = pd.DataFrame(weather_data)

In [ ]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.columns

Index(['temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
df.dtypes

temperature     int64
windspeed       int64
event          object
dtype: object

In [ ]:
df['temperature']

day
1/1/2017    32
1/2/2017    35
1/3/2017    28
1/4/2017    24
1/5/2017    32
1/6/2017    31
Name: temperature, dtype: int64

In [ ]:
df.temperature

day
1/1/2017    32
1/2/2017    35
1/3/2017    28
1/4/2017    24
1/5/2017    32
1/6/2017    31
Name: temperature, dtype: int64

In [ ]:
df[['temperature', 'event']]

          temperature  event
day
1/1/2017           32   Rain
1/2/2017           35  Sunny
1/3/2017           28   Snow
1/4/2017           24   Snow
1/5/2017           32   Rain
1/6/2017           31  Sunny

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 1/1/2017 to 1/6/2017
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  6 non-null      int64
 1   windspeed    6 non-null      int64
 2   event        6 non-null      object
dtypes: int64(2), object(1)
memory usage: 352.0+ bytes

In [ ]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
df[df['temperature']>30]

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [ ]:
df['event'].value_counts()

Sunny    2
Snow     2
Rain     2
Name: event, dtype: int64

In [ ]:
df.drop('event',axis=1)

          temperature  windspeed
day
1/1/2017           32          6
1/2/2017           35          7
1/3/2017           28          2
1/4/2017           24          7
1/5/2017           32          4
1/6/2017           31          2

In [ ]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny