<a href="https://colab.research.google.com/github/rikku10/foundation-of-data-science/blob/main/Selection%2CSorting%2Cgrouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/dayanandv/Data-Science/main/dataset/uk-500.csv')
data

    first_name  ...                                          web
0      Aleshia  ...         http://www.alandrosenburgcpapc.co.uk
1         Evan  ...            http://www.capgeminiamerica.co.uk
2       France  ...             http://www.elliottjohnwesq.co.uk
3      Ulysses  ...                 http://www.mcmahanbenl.co.uk
4       Tyisha  ...               http://www.champagneroom.co.uk
..         ...  ...                                          ...
495      Avery  ...    http://www.plazagourmetdelicatessen.co.uk
496       Reid  ...           http://www.fitzgeraldedwardj.co.uk
497  Charlette  ...             http://www.fureyassociates.co.uk
498  Celestina  ...       http://www.bfgfederalcreditunion.co.uk
499         Mi  ...  http://www.nelsonwrighthaworthgolfcrs.co.uk

[500 rows x 11 columns]

SELECTION

In [ ]:
data.iloc[0]

first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 0, dtype: object

In [ ]:
data.iloc[:,-2]

0         atomkiewicz@hotmail.com
1        evan.zigomalas@gmail.com
2      france.andrade@hotmail.com
3             ulysses@hotmail.com
4       tyisha.veness@hotmail.com
                  ...
495              avery@veit.co.uk
496        reuresti@euresti.co.uk
497      cbrenning@brenning.co.uk
498     celestina_keeny@gmail.com
499                mi@hotmail.com
Name: email, Length: 500, dtype: object

Selection of ranges using iloc

In [ ]:
#Range of rows
data.iloc[0:5]
#one rowm range of columns
data.iloc[:, 0:2]

#specific set of rows and columns
data.iloc[[0,3,6,24], [0,5,6]]
data.iloc[1:5, 5:8]

            county    postal        phone1
1  Buckinghamshire  HP11 2AX  01937-864715
2      Bournemouth   BH6 3BE  01347-368222
3     Lincolnshire  DN36 5RP  01912-771311
4    West Midlands   B70 9DT  01547-429341

loc

In [ ]:
#label based/index based
data.set_index('last_name', inplace=True)
data.head()

           first_name  ...                                   web
last_name              ...
Tomkiewicz    Aleshia  ...  http://www.alandrosenburgcpapc.co.uk
Zigomalas        Evan  ...     http://www.capgeminiamerica.co.uk
Andrade        France  ...      http://www.elliottjohnwesq.co.uk
Mcwalters     Ulysses  ...          http://www.mcmahanbenl.co.uk
Veness         Tyisha  ...        http://www.champagneroom.co.uk

[5 rows x 10 columns]

Condition checks

In [ ]:
data.loc[['Andrade','Veness'],'city':'email']

                                     city  ...                       email
last_name                                  ...
Andrade    East Southbourne and Tuckton W  ...  france.andrade@hotmail.com
Veness         Greets Green and Lyng Ward  ...   tyisha.veness@hotmail.com

[2 rows x 6 columns]

condition checks

In [ ]:
data.loc[['Andrade','Veness'],['city','postal','phone1','email']]

                                     city  ...                       email
last_name                                  ...
Andrade    East Southbourne and Tuckton W  ...  france.andrade@hotmail.com
Veness         Greets Green and Lyng Ward  ...   tyisha.veness@hotmail.com

[2 rows x 4 columns]

In [ ]:
data.loc[((data['county']=='Kent')&(data['first_name']=='Aleshia')),'city':'email']

                         city county  ...        phone2                    email
last_name                             ...
Tomkiewicz  St. Stephens Ward   Kent  ...  01944-369967  atomkiewicz@hotmail.com

[1 rows x 6 columns]